.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.userErrorDiv{
  background-color: #fff;
  width: 1000px;
  height: 300px;
  margin: auto;
  font-family: 'Nova Flat';font-size: 70px;;
  text-shadow: 5px 5px rgba(101, 100, 82, 0.349);
}

.navbarFlexParent{
  display: flex;
  gap: 20px;
  background-color: rgba(255, 45, 122, 0.627);
  color: #fff;
  width: 1425px;
  font-family: 'Nova Flat';font-size: 25px;;
  text-shadow: 5px 5px rgb(0, 0, 0);
}

.navbarLinkButtons {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Nova Flat';font-size: 25px;;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  margin-top: 36px;
}

.navbarLinkButtons:disabled {
  pointer-events: none;
}

.navbarLinkButtons:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.navbarLinkButtons:active {
  box-shadow: none;
  transform: translateY(0);
}

.loginSignupNavButtonsDiv{
  background-color: white;
  width: 1000px;
  margin: auto;
}

.loginSignupNavButtons{
  background-color: white;
  width: 300px;
  margin: auto;
  font-family: 'Nova Flat';font-size: 25px;;
}

.homeLoginSignupBlogsDivParent{
  background-color: white;
}

.homeLoginSignupBlogsHeader{
  font-family: 'Nova Flat';font-size: 60px;;
  text-shadow: 5px 5px rgba(101, 100, 82, 0.349);
}

.homeLoginSignupBlogsDivChild{
  font-family: 'Nova Flat';font-size: 15px;;
  text-shadow: 5px 5px rgba(101, 100, 82, 0.349);
}


.loginFormParentDiv{
  background-color: #fff;
  width: 850px;
  height: 500px;
  margin: auto;
}

.loginFormInput{
  height: 50px;
  width: 400px;
  background-color: white;
  font-family: 'Nova Flat';font-size: 35px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(255, 0, 157);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(255, 0, 157);
}

.loginErrors{
  font-family: 'Nova Flat';font-size: 20px;
}

.signupFormParentDiv{
  background-color: #fff;
  width: 850px;
  height: 500px;
  margin: auto;
}

.signupFormInput{
  height: 50px;
  width: 400px;
  background-color: white;
  font-family: 'Nova Flat';font-size: 35px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(255, 0, 157);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(255, 0, 157);
}

.signupErrors{
  font-family: 'Nova Flat';font-size: 20px;
}

.allBlogsDiv{
  background-color: #fff;
}

.allBlogsTrendingHeader{
  font-family: 'Nova Flat';font-size: 75px;;
  text-shadow: 5px 5px rgba(101, 100, 82, 0.349);
}

.allBlogsGetTheBlahHeader{
  font-family: 'Nova Flat';font-size: 55px;;
  text-shadow: 5px 5px rgba(101, 100, 82, 0.349);
}

.allBlogsImageParentDiv{
  display: table-cell;
  width: 50px;
  height: 100px;
}

.allBlogsImageChildDiv {
  cursor: pointer;
  height: 285px;
  position: relative;
  overflow: hidden;
  width: 325px;
  text-align: center;
}

.allBlogsImageChildDiv .fadedbox {
  background-color: rgb(7, 142, 180);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 325px;
  height: 285px;
  padding: 0px 0px;
}
.allBlogsImageChildDiv:hover .fadedbox {
  opacity: 0.8;
}
.allBlogsImageChildDiv .text {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
.allBlogsImageChildDiv .title {
  font-size: 2.5em;
  font-family: 'Nova Flat';font-size: 40px;;
  text-shadow: 5px 5px rgba(101, 100, 82, 0.349);
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.allBlogsImageChildDiv:hover .title,
.allBlogsImageChildDiv .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.userProfileParentDiv{
  background-color: white;
  width: 1000px;
  margin: auto;
  font-family: 'Nova Flat';font-size: 20px;;
  text-shadow: 5px 5px rgba(101, 100, 82, 0.349);
}

.userProfileAvatar{
  border-radius: 50%;
}

.userProfileBlogsChildDiv{
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
 }

 .userProfileBlogImageDiv {
  cursor: pointer;
  height: 285px;
  position: relative;
  overflow: hidden;
  width: 325px;
  text-align: center;
}

.userProfileBlogImageDiv .userProfileBlogImageFadedbox {
  background-color: rgb(255, 0, 204);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 325px;
  height: 285px;
  padding: 0px 0px;
}
.userProfileBlogImageDiv:hover .userProfileBlogImageFadedbox {
  opacity: 0.8;
}
.userProfileBlogImageDiv .text {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
.userProfileBlogImageDiv .title {
  font-size: 2.0em;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.userProfileBlogImageDiv:hover .title,
.userProfileBlogImageDiv:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.settingsParentDiv{
  background-color: white;
  width: 800px;
  margin: auto;
}
.settingLinkButtons{
  background-color: white;
  font-family: 'Nova Flat';font-size: 50px;;
  text-shadow: 5px 5px rgba(101, 100, 82, 0.349);
  height: 200px;
  width: 400px;
}

.updateFormDivs{
  width: 800px;
  background-color: white;
  margin: auto;
  font-family: 'Nova Flat';font-size: 40px;;
  text-shadow: 5px 5px rgba(101, 100, 82, 0.349);
}

.updateFormInputs{
  width: 400px;
  font-family: 'Nova Flat';font-size: 50px;;
}

.updateFormInputButtons{
  background-color: white;
   font-family: 'Nova Flat';font-size: 25px;
   width: 84.5%;
}

.updatePasswordFormInputs{
  width: 85.5%;
  font-family: 'Nova Flat';font-size: 50px;;
}

.currentBlogDiv{
  background-color: #fff;
  width: 1000px;
  margin: auto;
}

.currentBlogHeaderFont{
  font-family: 'Nova Flat';font-size: 40px;;
  text-shadow: 5px 5px rgba(101, 100, 82, 0.349);
}

.addCommentParent{
  display: flex;
  width: 1000px;

}

.addCommentChild{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255)
}

.addCommentButton{
  background-color: white;
  border: 0px;
}

.addCommentFormParentDiv{
  display: table-row;
}

.addCommentFormChild{
  width: 0%;
  display: table-cell;
 }

 .addCommentCancelButton{
  background-color: white;
  border: 0px;
 }


.addCommentFormInput{
  height: 40px;
  font-family: 'Nova Flat';font-size: 25px;;
  font-weight: bolder;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

.sendCommentFormInputButton{
  height: 0px;
  font-family: 'Nova Flat';font-size: 25px;;
  font-weight: bolder;
  border: none;
  outline: none;
  background-color: white;
}

.sendCommentFormError{
  font-family: 'Nova Flat';font-size: 20px;;
}

.sendCommentFormInputButtonTwo{
  height: 0px;
  font-family: 'Nova Flat';font-size: 25px;;
  font-weight: bolder;
  border: none;
  outline: none;
  background-color: white;
  color: rgb(255, 0, 187);
}

.updateCommentFormInputButton{
  height: 0px;
  font-family: 'Nova Flat';font-size: 25px;;
  font-weight: bolder;
  border: none;
  outline: none;
  background-color: white;
}

.updateCommentFormInputButtonTwo{
  height: 0px;
  font-family: 'Nova Flat';font-size: 25px;;
  font-weight: bolder;
  border: none;
  outline: none;
  background-color: white;
  color: rgb(255, 0, 187);
}

.commentButtonTools{
  background-color: white;
  color: rgb(255, 0, 187);
  border: 0px;
}










.userComment{
  background-color: #fff;
  font-family: 'Nova Flat';font-size: 20px;

}

.commentScroll{
  background-color: white;
  font-family: 'Nova Flat';font-size: 24px;;
  width: 900px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}






