body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://img.freepik.com/premium-vector/pop-art-lips-seamless-pattern-vector-sexy-woman-s-lips-expressing-different-emotions-smile-halfopen-mouth-biting-lip-licking-smiling-tongue-sticking-out-conversation-isolated-color-squares_155340-1492.jpg?w=2000")
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
